<div class="relative z-[5] w-full max-h-[100rem] h-[60vh] min-h-[35rem] pt-20 px-2 grid grid-cols-[1fr_minmax(min-content,_45%)] items-start">
  <div class="text-2xl gap-2 flex flex-col justify-center items-start font-extralight">
    <p class="text-gray-400">Hello! I am</p>
    <p>Paul Chesterton</p>
    <p class="text-teal-400">Full-Stack Ruby on Rails Developer</p>
    <p>I'm a passionate developer who has been crafting web applications since 2017.
      I specialize in Ruby on Rails and have a knack for building scalable, efficient,
      and user-friendly applications. I'm known for delivering high-quality code and
      collaborating effectively with cross-functional teams to bring ideas to life.
    </p>
  </div>
  <div class="flex justify-center items-center">
    <%= image_tag "paul.jpeg", alt: "Paul Chesterton", class: "w-3/5 rounded-lg shadow-lg border-4 border-teal-400" %>
  </div>
</div>

<div class="flex flex-col justify-center items-center w-full mb-20">
  <a href="#about-me">
    <svg class="w-[3em] h-[3em] text-teal-400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-linejoin="round">
        <path d="M6 9a6 6 0 0 1 12 0v6a6 6 0 0 1-12 0z"></path>
        <path stroke-linecap="round" d="M12 7v4"></path>
      </g>
    </svg>
    <div style="transform: translateY(-0.325723px) translateZ(0px);">
      <svg class="w-[3em] h-[3em] text-teal-400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" viewBox="0 0 256 256">
        <path fill="currentColor" d="M210.83 133.17a4 4 0 0 1 0 5.66l-80 80a4 4 0 0 1-5.66 0l-80-80a4 4 0 0 1 5.66-5.66L128 210.34l77.17-77.17a4 4 0 0 1 5.66 0m-85.66 5.66a4 4 0 0 0 5.66 0l80-80a4 4 0 1 0-5.66-5.66L128 130.34L50.83 53.17a4 4 0 0 0-5.66 5.66Z"></path>
      </svg>
    </div>
  </a>
</div>

<div id="about-me" class="relative z-[5] w-full h-20 flex justify-center items-center text-7xl font-extralight px-2">
  About Me
</div>

<div class="relative z-[5] w-full pt-20 pb-40 px-2 grid grid-cols-[1fr_minmax(min-content,_45%)] items-start gap-8 font-extralight">
  <div class="text-2xl gap-2 flex flex-col justify-center items-center px-10 text-center">
    <div class="text-4xl text-teal-400 font-light mb-10">Professional</div>
    <p>
      I have a strong foundation in both front-end and back-end development, with
      expertise in Ruby on Rails, JavaScript, HTML, CSS, and various databases.
      I am proficient in building RESTful APIs, integrating third-party services,
      and optimizing application performance. I am also experienced in using version
      control systems like Git and collaborating on projects using Agile methodologies.
    </p>
  </div>
  <div class="text-2xl gap-2 flex flex-col justify-center items-center px-10 text-center">
    <div class="text-4xl text-teal-400 font-light mb-10">Personal</div>
    <p>
      Outside of work, I am an avid learner and enjoy exploring new technologies
      and programming languages. I am passionate about my family and enjoy spending
      quality time with them. In my free time, I like to play music and am a
      multi-instrumentalist, which helps me stay creative and think outside the box.
    </p>
  </div>
</div>

<div id="skills" class="relative z-[5] w-full h-20 flex justify-center items-center text-7xl font-extralight px-2">
  Skills
</div>

<div class="relative z-[5] w-full pt-20 pb-40 px-2 items-start font-extralight">
  <div class="text-4xl font-light mb-10">Front End</div>
  <div class="flex flex-wrap gap-4 mb-20">
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">HTML</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">CSS</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">JavaScript</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Tailwind CSS</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Bootstrap</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Stimulus.js</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Hotwire</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">React</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Vue.js</div>
  </div>
  <div class="text-4xl font-light mb-10">Back End</div>
  <div class="flex flex-wrap gap-4 mb-20">
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Ruby</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Ruby on Rails</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">PostgreSQL</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">MySQL</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Redis</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">RESTful APIs</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Sidekiq</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">RSpec</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">MiniTest</div>
  </div>
  <div class="text-4xl font-light mb-10">Miscellaneous</div>
  <div class="flex flex-wrap gap-4">
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Git</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">AWS</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">CI/CD</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Docker</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Dokku</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Jira</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">Slack</div>
    <div class="px-4 py-2 border border-gray-700 bg-gray-800 rounded-lg text-teal-400 text-2xl">GitHub</div>
  </div>
</div>

<div id="projects" class="relative z-[5] w-full h-20 flex justify-center items-center text-7xl font-extralight px-2 mb-20">
  Projects
</div>

<div class="relative z-[5] w-full pb-40 px-2 items-start font-extralight">
  <div class="grid grid-cols-2 gap-4 mb-40">
    <%= link_to 'https://PeopleNeed.Love', class: 'flex justify-center items-start', target: '_blank' do %>
      <%= image_tag "people_need_love.jpeg", alt: "Paul Chesterton", class: "w-4/5 rounded-lg shadow-lg border-4 border-teal-400 hover:border-teal-600" %>
    <% end %>
    <div class="flex justify-center">
      <div class="text-2xl gap-2 flex flex-col justify-start items-start font-extralight">
        <%= link_to 'People Need Love', 'https://PeopleNeed.Love', target: '_blank', class: 'text-4xl text-teal-400 hover:text-teal-600 mb-10' %>
        <p>
          Web app to anonymously send and receive encouragement from others. Built with
          Ruby on Rails full-stack using Hotwire (Turbo + Stimulus.js).
          Features include pin number for users to locate their requests later
          and a full admin area behind authentication to manage the data.
        </p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mb-20">
    <%= link_to 'https://animath.myserver.pchesterton.com/', class: 'flex justify-center items-start', target: '_blank' do %>
      <%= image_tag "animath.jpeg", alt: "Animath", class: "w-4/5 rounded-lg shadow-lg border-4 border-teal-400 hover:border-teal-600" %>
    <% end %>
    <div class="flex justify-center">
      <div class="text-2xl gap-2 flex flex-col justify-start items-start font-extralight">
        <%= link_to 'AniMath', 'https://animath.myserver.pchesterton.com/', target: '_blank', class: 'text-4xl text-teal-400 hover:text-teal-600 mb-10' %>
        <p>
          Web app for kids to solve simple math problems and collect animal cards.
          Built with Ruby on Rails full-stack using Hotwire (Turbo + Stimulus.js).
          Features include hundreds of animal cards to collect and the difficulty
          increases as you progress as well as interesting animations.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="relative z-[5] w-full h-20 flex justify-center items-center text-7xl font-extralight px-2 mb-20">
  Contact
</div>

<div class="grid grid-cols-3 gap-8 pb-20">
  <%= link_to 'Email', 'mailto:chestertonpa@gmail.com', class: 'text-teal-400 text-4xl text-center hover:text-teal-600' %>
  <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/paul-chesterton-3a89b1a9/', class: 'text-teal-400 text-4xl text-center hover:text-teal-600', target: '_blank' %>
  <%= link_to 'GitHub', 'https://github.com/haxlerose', class: 'text-teal-400 text-4xl text-center hover:text-teal-600', target: '_blank' %>
</div>
