<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative h-full w-full bg-gray-900 text-white">
    <main data-controller="menu" class="relative w-full max-w-[1920px] px-5 lg:px-25 mx-auto overflow-hidden">
      <nav class="flex justify-between items-center relative z-10 h-20 w-full">
        <div class="text-2xl font-light">
          Paul Chesterton
        </div>
        <div class="hidden lg:block w-3/5 max-w-[80rem]">
          <%= render "shared/nav_links" %>
        </div>
        <button data-action="menu#toggle" class="flex lg:hidden flex-col justify-center items-center w-14 h-14 bg-gray-800 border-2 border-gray-600 rounded-lg hover:border-gray-400">
          <div data-menu-target="element">
            <div class="w-8 h-1 bg-white mb-1"></div>
            <div class="w-8 h-1 bg-white mb-1"></div>
            <div class="w-8 h-1 bg-white"></div>
          </div>
          <!-- close icon -->
          <div data-menu-target="element" class="hidden justify-center items-center justify-items-center">
            <div class="w-8 h-1 bg-white rotate-45 absolute"></div>
            <div class="w-8 h-1 bg-white -rotate-45 absolute"></div>
          </div>
        </button>
        <!-- mobile menu -->
        <div data-menu-target="element" class="hidden fixed left-0 top-20 w-full h-full bg-gray-800 border-2 border-gray-600 rounded-lg p-4">
          <div class="flex flex-col justify-center items-center mt-10 mb-4">
            <div data-action="click->menu#toggle">
              <%= render "shared/nav_links" %>
            </div>
            <div class="flex gap-4 mt-10 w-full justify-center items-center">
              <div class="h-1 rounded-2xl w-10 md:w-20 bg-white opacity-100"></div>
              <%= render "shared/contact_links" %>
              <div class="h-1 rounded-2xl w-10 md:w-20 bg-white opacity-100"></div>
            </div>
          </div>
        </div>
      </nav>

      <div class="fixed z-[100] left-0 bottom-0 hidden lg:flex flex-col items-center w-20">
        <%= render "shared/contact_links" %>
        <div class="w-1 rounded-2xl h-40 bg-white opacity-100"></div>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
